<div class="container-fluid">
    <div class="col-md-8" style="margin-left: 10px">
        <hr>
            <div class="card">
                <div class="card-body">
                    <button class="btn btn-primary" (click)="addBot()">
                        <mat-icon>near_me</mat-icon>Add Telegram Bot </button>
                <h3>Here is Bot Information</h3>
                <hr>
                <h4>Telegram Bot Name</h4>
                <h4>Telegram Bot API Key</h4>
                </div>
            </div>
    </div>
</div>
