Contact List
<hr>
<div class="card" style="float: left; margin: 40px;width: 80%;">
    <div class="card-header" style="white-space: nowrap; text-overflow: ellipsis;">
        <p  style="font-size: 26px">Telegram Registered Contacts</p>
    </div>

    <div class="card-body">
        <div class="table-responsive">
           <div id="contents" #contents>
            <table class="table table-striped w-auto" width="100%">
                <thead>
                <tr>
                    <th >#</th>
                     <th scope="col">User Name</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Phone number</th>
                    <th scope="col">Telegram ID</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>yididiya kassahun</td>
                    <td>0943233453</td>
                    <td>1143352</td>
                   
                    <td>
                        <button mat-button>
                            <mat-icon mat-raised-button>edit</mat-icon>
                        </button>
                        <button>

                            <mat-icon style="color: red;" mat-raised-button>delete_outline</mat-icon>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
           </div>
            </div>
            <div>
                <!-- <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true"
                                     (pageChange)="collectionOfcon($event)"></pagination-controls> -->
            </div>
        </div>
</div>


