<div class="card-body" style="width: 440px;">
  <div mat-dialog-content>
<div class="card-body">
  <h4>Add Your Telegram Bot Here .. </h4>
  <hr>
  <form>
    <div class="col-md-12">
      <div class="form-group">
        <label>Telegram Bot Name</label>
        <input name="botName"
               class="form-control"
               formControlName="botName">
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label>Telegram Bot API Key</label>
        <input name="botAPI"
               class="form-control"
               formControlName="botAPI">
      </div>
    </div>
    <div class="col-md-5">
      <button class="btn btn-primary" style="width: 100%; margin-top: 20px">Submit</button>
    </div>
  </form>

</div>
  </div>